.mimi-message {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
  font-weight: bold;
}
.image{
  display: flex;
  justify-content: center;
  height: 50vh;
}
body{
  background-color: #000000;
}